<app-loading *ngIf="!loaded"></app-loading>

<div [hidden]="!loaded">
  <h1>Разновидности стилей рисования.<br>Какой стиль выбрать?</h1>
  <p>Приветствую! Сегодня я&nbsp;расскажу о&nbsp;разновидностях стилей рисования и&nbsp;какой&nbsp;же Вам выбрать?</p>
  <p>Все стили рисования можно разделить на&nbsp;5 видов:</p>
  <ul>
    <li>Аниме</li>
    <li>Реализм</li>
    <li>Мультяшный</li>
    <li>Мультяшный упрощенный</li>
    <li>Собственный</li>
  </ul>

  <section class="anime">
    <h2>Что такое Аниме стиль и&nbsp;с&nbsp;чем его едят?</h2>
    <img class="imgfix" src="assets/img/arts/01.jpg" alt="">
    <p>Арты в&nbsp;этом стиле намного более детализированны, чем само аниме, однако многии характерные черты японских
      мультиков остаются неизменными; большие глаза, маленькие носы (иногда полное их&nbsp;отсутствие)
      <nobr>и т. д.</nobr>
      Хоть в&nbsp;этом стиле и&nbsp;рисуют большое количество художников, он&nbsp;не&nbsp;имеет много подпунктов. Работы
      разных художников, выполненных в&nbsp;этом стиле, обычно не&nbsp;сильно отличаются друг от&nbsp;друга.
    </p>
  </section>

  <section class="realism">
    <h2>Что за&nbsp;Реализм?</h2>
    <img class="imgfix" src="assets/img/arts/02.jpg" alt="">
    <p>Реализм&nbsp;&mdash; именно тот стиль, с&nbsp;которого стоит начинать всем художникам.Особенности этого стиля&nbsp;&mdash;
      реалистичные пропорции и&nbsp;покрас. Лайн на&nbsp;таких артах максимально
      незаметен. Реализм частенько любят смешивать с&nbsp;аниме стилем. В&nbsp;таком случае получаются интересные,
      реалистичные работы, походящие и&nbsp;на&nbsp;аниме, и&nbsp;на&nbsp;реализм.</p>
    <img class="imgfix" src="assets/img/arts/03.jpg" alt="">
  </section>

  <section class="mult">
    <h2>А&nbsp;что такое Мультяшный стиль?</h2>
    <img src="assets/img/arts/04.jpg" alt="">
    <p>Этот стиль известен своей эмоциональностью и&nbsp;динамичностью.</p>
    <p>Мультяшный стиль делится на&nbsp;2 подвида:</p>
    <ul>
      <li>Безконтурка</li>
      <li>
        <nobr>Лайн-арт</nobr>
      </li>
    </ul>
    <div class="non-line">
      <img class="imgfix" src="assets/img/arts/05.jpg" alt="">
      <p>Безконтурка (как можно понять по&nbsp;названию)&nbsp;&mdash; арт без лайна. Многие новички пытаются в&nbsp;этот
        вид
        рисования, но&nbsp;все&nbsp;же лучше не&nbsp;спешить. Сперва научитесь рисовать ровный лайн и&nbsp;делать
        хороший
        покрас.</p>
    </div>
    <div class="line-art">
      <p>
        <nobr>Лайн-арт
        </nobr>&nbsp;&mdash; арт, где контур фигуры обвивает черная или крашенная линия. Лайн бывает разной толщины, но&nbsp;обычно
        он&nbsp;средний или тонкий.
      </p>
      <img class="imgfix" src="assets/img/arts/06.jpg" alt="">
    </div>
  </section>

  <h2>Что насчёт собственного стиля?</h2>
  <div class="onw-style-intro">
    <p>Собственный стиль&nbsp;&mdash; комбинация всего того, что Вам нравится. Можете совместить Мультяшный стиль с&nbsp;Реализмом.
      Ведь почему&nbsp;бы и&nbsp;нет? </p>
    <img class="imgfix" src="assets/img/arts/07.jpg" alt="">
    <p>Можете делать толстый или крашенный лайн. Рисуйте любую форму рта, глаз, головы.
      Можете рисовать на&nbsp;
      <nobr>чем-то</nobr>
      необычном или делать милую обработку фотографий.
    </p>
  </div>

  <div class="images">
    <img src="assets/img/arts/08.jpg" alt="">
    <img src="assets/img/arts/09.jpg" alt="">
  </div>

  <p>Если Вы&nbsp;рисуете в&nbsp;собственном стиле, то&nbsp;Вы&nbsp;сами себе мастер.</p>

  <h2>Но&nbsp;какой&nbsp;же стиль выбрать?</h2>
  <p>Когда Вы&nbsp;долго рисуете, у&nbsp;Вас вырабатывался собственный стиль. Это может быть аниме, реализм или&nbsp;другой
    любой.</p>
  <p>Никто не&nbsp;обязан Вам указывать, в&nbsp;каком стиле Вам рисовать. Но&nbsp;если Ваши рисунки не&nbsp;нравятся
    большенству, то&nbsp;все&nbsp;же стоит задуматься.</p>
  <p>На&nbsp;этом все! Всем удачи и&nbsp;до&nbsp;новых встреч!</p>

  <div class="source"><a
    href="https://vk.com/@commonwealthpublic-raznovidnosti-stilei-risovaniya-kakoi-vybrat">Источник</a></div>

  <app-back-btn></app-back-btn>
</div>
