<app-loading *ngIf="!loaded"></app-loading>

<div [hidden]="!loaded">
  <h1>В&nbsp;бой идут одни старики</h1>

  <h2>Актерский состав</h2>
  <div class="actors">
    <div class="actor">
      <img src="assets/img/olds/01.webp" alt="">
      <h3>Леонид Быков</h3>
      <p>капитан Алексей Титаренко, &laquo;Маэстро&raquo;</p>
    </div>
    <div class="actor">
      <img src="assets/img/olds/02.webp" alt="">
      <h3>Сергей Подгорный</h3>
      <p>младший лейтенант Виктор Щедронов, &laquo;Смуглянка&raquo;</p>
    </div>
    <div class="actor">
      <img src="assets/img/olds/03.webp" alt="">
      <h3>Сергей Иванов</h3>
      <p>лейтенант Александров, &laquo;Кузнечик&raquo;</p>
    </div>
    <div class="actor">
      <img src="assets/img/olds/04.webp" alt="">
      <h3>Рустам Сагдуллаев</h3>
      <p>лейтенант Сагдуллаев, &laquo;Ромео&raquo;</p>
    </div>
    <div class="actor">
      <img src="assets/img/olds/05.webp" alt="">
      <h3>Евгения Симонова</h3>
      <p>Маша Попова</p>
    </div>
    <div class="actor">
      <img src="assets/img/olds/06.webp" alt="">
      <h3>Ольга Матешко</h3>
      <p>капитан Зоя Молчанова</p>
    </div>
  </div>

  <h2>История создания фильма</h2>
  <img class="right w-50" src="assets/img/olds/07.webp" alt="">
  <p>Идея снять этот фильм пришла в&nbsp;голову Леониду Быкову давно. В&nbsp;годы войны он&nbsp;мечтал стать летчиком,
    однако
    <nobr>из-за</nobr>
    маленького роста его не&nbsp;взяли в&nbsp;летное училище. Но&nbsp;любовь к&nbsp;людям этой героической профессии
    продолжала жить в&nbsp;нем постоянно. После того как в&nbsp;начале
    <nobr>70-х</nobr>
    Быков перебрался и&nbsp;Ленинграда в&nbsp;Киев, он&nbsp;решил свои первый фильм на&nbsp;тамошней киностудии снять
    именно про военных летчиком. В&nbsp;соавторстве с&nbsp;двумя сценаристами&nbsp;&mdash; Евгением Оноприенко и&nbsp;Александром
    Сацким&nbsp;&mdash; им&nbsp;был написан сценарии, основанный на&nbsp;подлинных событиях времен Великой Отечественной
    воины. В&nbsp;частности, под личностью командира эскадрильи гвардии лейтенанта Титаренко (он&nbsp;же Маэстро)
    скрывался Герой Советского Союза, парень с&nbsp;Арбата Виталий Попков. В&nbsp;годы войны он&nbsp;служил в&nbsp;легендарном
    <nobr>5-м</nobr>
    гвардейском истребительном авиационном полку под командованием Василия Сталина, и&nbsp;его эскадрилья была прозвана
    &laquo;поющей&raquo; за&nbsp;то, что в&nbsp;ней имелся собственный хор, а&nbsp;два самолета были подарены фронту
    оркестром Утесова и&nbsp;на&nbsp;одном красовалась надпись &laquo;Веселые ребята&raquo;. К&nbsp;слову, полк Василия
    Сталина дошел до&nbsp;Берлина и&nbsp;сбил рекордное количество вражеских самолетов&nbsp;&mdash; 744, имел в&nbsp;своих
    рядах 27 Героев Советского Союза (14 из&nbsp;них служили под началом непосредственно Маэстро, а&nbsp;самому Попкову
    после войны в&nbsp;Москве установили бюст как дважды Герою).
  </p>
  <div class="clearfix"></div>
  <blockquote>
    <p>&laquo;Почему героями мы&nbsp;выбрали именно лётчиков? Трудно сказать. Может быть, потому что сам я&nbsp;учился в&nbsp;авиационном
      училище, мечтал о&nbsp;полётах и&nbsp;до&nbsp;сих пор восхищаюсь представителями этой героической профессии.
      Разговаривая с&nbsp;лётчиками, участниками боёв, мы&nbsp;поняли одну очень важную для нас вещь. В&nbsp;жестоком
      горниле войны, в&nbsp;беспощадном её пламени старшие опытные товарищи стремились, где это было возможно, сберечь
      молодых и&nbsp;неопытных соколят. В&nbsp;этом была высшая мудрость&nbsp;&mdash; забота о&nbsp;будущем, извечное
      право и&nbsp;долг сильных охранять, растить и&nbsp;воспитывать&nbsp;&mdash; себе смену. Так родилась тема &bdquo;В&nbsp;бой
      идут одни &bdquo;старики&ldquo;&ldquo;. И&nbsp;другая&nbsp;&mdash; не&nbsp;менее дорогая нам. Известная мудрость
      гласит: &bdquo;Когда говорят пушки, музы молчат&ldquo;. Мы&nbsp;же хотели доказать, что в&nbsp;годы испытаний
      побеждают те, кто остаётся людьми в&nbsp;самых жестоких условиях, кто берёт с&nbsp;собой в&nbsp;бой всё светлое,
      человечное, за&nbsp;что и&nbsp;ведёт битву с&nbsp;врагом. А&nbsp;что может быть прекраснее музыки?&raquo;</p>
    <cite>Леонид Быков, Режиссер</cite>
  </blockquote>

  <h2>Народ голосует &laquo;за&raquo;</h2>
  <p>Когда Быков писал сценарий, он&nbsp;старался не&nbsp;слишком отходить от&nbsp;действительных событий, хотя
    <nobr>кое-что</nobr>
    <nobr>все-таки</nobr>
    домыслил и&nbsp;изменил. Например, он&nbsp;придумал нового персонажа&nbsp;&mdash; Кузнечика. На&nbsp;самом деле
    низкие виражи над аэродромом перед девушками выделывал не&nbsp;кто иной, как сам Попков, за&nbsp;что командир
    приказал запретить ему боевые вылеты на&nbsp;месяц. Но&nbsp;таких отклонений от&nbsp;реальных событий в&nbsp;сценарии
    было немного, и&nbsp;львиная доля того, что мы&nbsp;видим в&nbsp;фильме,&nbsp;&mdash; правда. Это и&nbsp;любовь
    узбекского Ромео (настоящая фамилия летчика была Марнсаев) к&nbsp;русской Джульетте, и&nbsp;их&nbsp;последующая
    гибель (девушка погибла во&nbsp;время бомбежки столовой, а&nbsp;Ромео сложил голову в&nbsp;одном из&nbsp;боев), и&nbsp;привычка
    механика крестить перед вылетом самолеты, и&nbsp;попадание Маэстро в&nbsp;плен к&nbsp;своим (для доказательства
    своей принадлежности к&nbsp;Красной Армии ему пришлось врезать одному из&nbsp;конвоиров по&nbsp;морде)
    <nobr>и т. д.</nobr>
    <nobr>и т. п.</nobr>
  </p>
  <img class="left w-50" src="assets/img/olds/08.jpg" alt="">
  <p>Между тем, когда сценарий был написан и&nbsp;отправлен &laquo;наверх&raquo;, оттуда вскоре пришел неожиданный
    ответ: дескать, материал негероический. Высокие цензоры возмущались тем, что советские летчики изображены во&nbsp;многих
    сценах как поющие клоуны. Короче, ставить такой фильм Быкову поначалу запретили. Но&nbsp;он&nbsp;не&nbsp;отчаялся.
    Чтобы доказать обратное, Быков взялся&hellip; &laquo;обкатывать&raquo; сценарий на&nbsp;сцене. Чтение им&nbsp;отдельных
    кусков сценария в&nbsp;самых разных городах Советского Союза вызывало у&nbsp;слушателей такой восторг, что никаких
    сомнений в&nbsp;правильности созданного произведения у&nbsp;цензоров уже не&nbsp;возникало. А&nbsp;тут еще за&nbsp;сценарий
    стали заступаться люди, которые сами не&nbsp;понаслышке знали о&nbsp;войне. В&nbsp;частности, 14 ноября 1972 гола на&nbsp;киностудию
    Довженко прислал письмо начальник штаба войсковой части 55127 полковник Лезжов. Он&nbsp;писал, что прочитанный им&nbsp;сценарий&nbsp;&mdash;
    это честный рассказ о&nbsp;войне и&nbsp;о&nbsp;людях, которые добыли в&nbsp;ней победу.</p>
  <img class="w-50 centered" src="assets/img/olds/09.jpg" alt="">

  <h2>Быков управляет съемками и&hellip; самолетом</h2>
  <img class="vh-50" src="assets/img/olds/10.jpg" alt="">
  <p>20 февраля 1973 года фильм был запущен в&nbsp;подготовительный период. И&nbsp;здесь Быкову тоже пришлось
    столкнуться с&nbsp;рядом трудностей. К&nbsp;примеру, много нервов ему стоило утверждение на&nbsp;роль автотехника
    Макарыча ленинградского актера Алексея Смирнова. Тот был известен широкому зрителю прежде всего как актер
    комедийного плана, а&nbsp;у&nbsp;Быкова ему предстояло стать фронтовиком. Узнав об&nbsp;этом, чиновники от&nbsp;кино
    резко воспротивились: &laquo;Не&nbsp;бывать этому! У&nbsp;него&nbsp;же тупое лицо!&raquo; Но&nbsp;когда Быков
    заявил, что откажется снимать фильм, если в&nbsp;нем не&nbsp;будет Смирнова, когда рассказал о&nbsp;том, что &laquo;актер
    с&nbsp;тупым лицом&raquo;&nbsp;&mdash; сам бывший фронтовик, вернувшийся с&nbsp;войны полным кавалером орденов
    Славы, сопротивление чиновников было сломлено. Кстати, отчество киношному технику Быков дал то&nbsp;же, что на&nbsp;самом
    деле носил Смирнов&nbsp;&mdash; Макарыч.</p>
  <p>Большую помощь в&nbsp;работе над фильмом оказал маршал авиации, легендарный летчик Александр Покрышкин. Когда Быков
    напросился к&nbsp;нему на&nbsp;прием, чтобы добиться от&nbsp;него выделения для съемок настоящих самолетов времен
    войны, маршал поначалу отнесся к&nbsp;этой просьбе настороженно. Слишком много в&nbsp;те&nbsp;годы выходило
    проходных фильмов о&nbsp;войне, чтобы маршал с&nbsp;ходу поверил в&nbsp;затею Быкова снять &laquo;нетленку&raquo;.
    Он&nbsp;опросил оставить ему на&nbsp;несколько дней сценарий, чтобы поближе познакомиться с&nbsp;материалом. Но&nbsp;нескольких
    дней не&nbsp;понадобилось. Буквально за&nbsp;одну ночь Покрышкин проглотил сценарий и&nbsp;распорядился выдать
    киношникам не&nbsp;один, не&nbsp;два, а&nbsp;целых пять самолетов: четыре истребителя
    <nobr>&laquo;Як-18&raquo;</nobr>
    и&nbsp;чехословацкий &laquo;2&ndash;326&raquo;, внешне похожий на&nbsp;<nobr>&laquo;Мессершмитт-109&raquo;</nobr>
    . Машины доставили на&nbsp;киевский аэродром &laquo;Чайка&raquo;, где их&nbsp;перекрасили и&nbsp;придали им&nbsp;фронтовой
    вид.
  </p>
  <p>Съемки фильма начались 22&nbsp;мая в&nbsp;павильоне студии Довженко в&nbsp;декорациях &laquo;блиндаж КП&raquo; и&nbsp;&laquo;блиндаж
    комбата&raquo;. Затем съемки переместились на&nbsp;натуру: в&nbsp;конце мая начали снимать воздушные бои &laquo;яков&raquo;
    с&nbsp;&laquo;мессерами&raquo;. Вот как вспоминает об&nbsp;этом участник тех съемок&nbsp;&mdash; оператор Виталь
    Кондратьев: &laquo;Для удобства воздушных съемок я&nbsp;придумал особое устройство, которое крепилось между первой и&nbsp;второй
    кабинами и&nbsp;позволяло брать кадр крупным планом прямо во&nbsp;время полета. Быков мое изобретение одобрил и&nbsp;тут&nbsp;же
    решил первым подняться в&nbsp;воздух, чтобы испытать его в&nbsp;деле. Пилот выписывал в&nbsp;небе &laquo;бочки&raquo;
    и&nbsp;&laquo;мертвые петли&raquo;, а&nbsp;Леонид Федорович включал камеру, давил на&nbsp;гашетку и&nbsp;кричал в&nbsp;объектив:
    &laquo;Серега, прикрой! Атакую!&raquo; После нескольких дублей самолет садился, я&nbsp;менял кассету с&nbsp;пленкой,
    и&nbsp;машина снова поднималась в&nbsp;небо. В&nbsp;конце съемочного дня Быков буквально вывалился из&nbsp;самолета
    и&nbsp;плюхнулся на&nbsp;зеленую траву аэродрома. &laquo;Ну, как дела?&raquo;&nbsp;&mdash; спросил я, подбежав к&nbsp;нему,
    и&nbsp;услышал в&nbsp;ответ: &laquo;Проявим пленку&nbsp;&mdash; увидим!&raquo;</p>
  <p>&#65279;В&nbsp;начале июня начали снимать эпизоды &laquo;на&nbsp;аэродроме&raquo;. Поскольку Быков не&nbsp;любил,
    когда его дублировали, он&nbsp;все трюки старался делать сам. И&nbsp;за&nbsp;время съемок вполне прилично освоил
    управление самолетами. Правда, в&nbsp;воздух он&nbsp;их&nbsp;не&nbsp;поднимал, но&nbsp;зато самостоятельно запускал
    двигатель и&nbsp;рулил по&nbsp;аэродрому. Иной раз без накладок не&nbsp;обходилось.
    <nobr>Как-то</nobr>
    он&nbsp;не&nbsp;смог рассчитать курс, и&nbsp;правое колесо попало в&nbsp;яму от&nbsp;пиротехнического взрыва.
    Самолет клюнул носом, полетели лопасти пропеллера, заднее колесо отломилось вместе со&nbsp;стойкой. Быков заработал
    на&nbsp;лбу здоровенную шишку, но&nbsp;расстроился не&nbsp;<nobr>из-за</nobr>
    этого. Дело в&nbsp;том, что авария произошла на&nbsp;том самом &laquo;Яке&raquo; с&nbsp;нарисованными на&nbsp;борту
    нотами и&nbsp;скрипичным ключом. Поскольку везти самолет для ремонта в&nbsp;Киев значило потерять уйму времени, было
    решено восстанавливать &laquo;железную птицу&raquo; на&nbsp;месте, своими силами. Помогло киношникам то, что
    предусмотрительный механик захватил из&nbsp;Киева несколько запасных лопастей, которые тут&nbsp;же установили на&nbsp;поврежденную
    машину. Но&nbsp;тут&nbsp;же возникла другая проблема&nbsp;&mdash; с&nbsp;задним шасси. Здесь нужна была сварка,
    которую на&nbsp;месте провести было нельзя. И&nbsp;тогда за&nbsp;дело взялся оператор Виталь Кондратьев. Он&nbsp;положил
    изувеченную деталь в&nbsp;багажник своего авто и&nbsp;поехал в&nbsp;Чернигов на&nbsp;станцию юных техников, где у&nbsp;него
    имелись друзья. Однако когда он&nbsp;приехал, на&nbsp;станции никого не&nbsp;оказалось. Пришлось оператору &laquo;вылавливать&raquo;
    их&nbsp;по&nbsp;домам. Узнав, что он&nbsp;с&nbsp;Быковым снимает кино о&nbsp;фронтовых летчиках, мастера с&nbsp;радостью
    согласились им&nbsp;помочь. Стойку заварили, и&nbsp;на&nbsp;следующее утро самолет был снова готов к&nbsp;полетам.
  </p>

  <h2>Признание</h2>
  <p>Съемки фильма закончились в&nbsp;середине октября, после чего начался монтаж. Он&nbsp;длился до&nbsp;6 декабря.
    Шесть дней спустя фильм без поправок приняли на&nbsp;студии, а&nbsp;27 декабря состоялась сдача ленты в&nbsp;Госкино
    Украины. На&nbsp;нее были приглашены не&nbsp;только высокие чины украинского кинематографа, но&nbsp;и&nbsp;те, о&nbsp;ком,
    собственно, и&nbsp;рассказывал этот фильм&nbsp;&mdash;
    <nobr>летчики-фронтовики</nobr>
    . Одним из&nbsp;них был прославленный советский ас, трижды Герой Советского Союза, сбивший в&nbsp;156 воздушных боях
    59 фашистских самолетов, Александр Покрышкин. Лента его буквально потрясла. Когда в&nbsp;зале зажгли свет, от&nbsp;присутствующих
    не&nbsp;укрылось, что Покрышкин вытирает слезы.
  </p>
  <p>А&nbsp;потом картину посмотрел и&nbsp;сам прототип Маэстро Виталий Попков. Вот его рассказ об&nbsp;этом: &laquo;Был
    по&nbsp;службе в&nbsp;Киеве, позвонил Лене Быкову, поехали с&nbsp;ним в&nbsp;Министерство культуры Украины,
    прокрутили фильм. Министр упорствует: что это за&nbsp;фильм, говорит, люди не&nbsp;возвращаются с&nbsp;боевых
    заданий, гибнут, а&nbsp;живые песенки распевают. И&nbsp;резюмирует: такого на&nbsp;фронте не&nbsp;было и&nbsp;быть
    не&nbsp;могло. Спрашиваю министра: был&nbsp;ли он&nbsp;сам на&nbsp;фронте? Логика чиновника удивительна: не&nbsp;был,
    отвечает, но&nbsp;знаю. И&nbsp;тогда я&nbsp;рассказал министру, что летал на&nbsp;одном из&nbsp;двух самолетов,
    купленных на&nbsp;деньги джаза Утесова и&nbsp;подаренных нашему полку. И&nbsp;что Леонид Осипович со&nbsp;своими
    музыкантами приезжал к&nbsp;нам на&nbsp;аэродром, и&nbsp;мы&nbsp;вместе играли и&nbsp;вместе пели. Убедил. На&nbsp;него
    подействовали, наверное, не&nbsp;столько мои доводы, сколько генеральские эполеты и&nbsp;две геройских Звезды&hellip;&raquo;</p>
  <p>На&nbsp;широкий экран фильм вышел 12 августа 1974 года. И&nbsp;уже к&nbsp;концу года собрал на&nbsp;своих сеансах
    44&nbsp;миллиона 300 тысяч зрителей (
    <nobr>4-е</nobr>
    место), что явилось большой неожиданностью: к&nbsp;тому времени фильмы о&nbsp;Великой Отечественной войне такой
    &laquo;кассы&raquo; практически не&nbsp;собирали.
  </p>

  <div class="rest-images">
    <img src="assets/img/olds/11.png" alt="">
    <img src="assets/img/olds/12.png" alt="">
    <img src="assets/img/olds/13.png" alt="">
    <img src="assets/img/olds/14.png" alt="">
  </div>

  <div class="source"><a href="https://ugmoscow.ru/v_boi_idut_odni_stariki">Оригинал статьи</a></div>

  <app-back-btn></app-back-btn>
</div>
