<app-loading *ngIf="!loaded"></app-loading>

<div [hidden]="!loaded">
  <h1>Limbo — игра изменившая свой жанр</h1>
  <img src="assets/img/limbo/01.jpg" alt="">
  <h2>Мое знакомство с игрой</h2>
  <p>Первый раз я&nbsp;поиграл в&nbsp;Limbo, примерно, в&nbsp;2015 году (плюс минус год). Тогда мне было 11 лет.
    Двоюродный брат дал мне свой планшет, показав мне эту игру. Для меня это было очень классно, ведь я&nbsp;только
    знакомился с&nbsp;играми и&nbsp;с&nbsp;этой индустрией. Уже тогда мне очень запомнилась Limbo. Я&nbsp;проникся
    мрачной атмосферой, но&nbsp;больше всего мне понравились головоломки. Я&nbsp;особо не&nbsp;предавал значения сюжету,
    и, как вы&nbsp;уже поняли, не&nbsp;осознавал в&nbsp;какую(!) игру я&nbsp;играю.</p>
  <p>Недавно я&nbsp;купил Limbo в&nbsp;Steam, чтобы пройти ее&nbsp;еще раз, на&nbsp;этот раз более внимательнее ее&nbsp;изучив.</p>
  <h2>Limbo&nbsp;&mdash; &hellip;</h2>
  <p>Limbo&nbsp;&mdash; это
    <nobr>инди-игра</nobr>
    с&nbsp;импрессионистической атмосферой, пропитанная минимализмом, как основа для всех ее&nbsp;составляющих, ставшая
    культовой, что в&nbsp;нее играют и&nbsp;вспоминают спустя 11 лет, после выхода. Почему Limbo изменила свой жанр?
    Почему это культовая игра? И&nbsp;как ей&nbsp;это удалось? Я&nbsp;возьму на&nbsp;себя ответственность ответить на&nbsp;эти
    вопросы.
  </p>
  <h2>Gameplay</h2>
  <blockquote><h3>&laquo;Все должно быть просто&raquo;</h3></blockquote>
  <p>Первое на&nbsp;что вы&nbsp;обращаете внимание, это простота управления. Всего три компонента: классическое движение
    <nobr>&laquo;вправо-влево&raquo;</nobr>
    , прыжок и&nbsp;хватание за&nbsp;некоторые объекты.
  </p>
  <p>Как по&nbsp;мне, важная цель геймдизайна&nbsp;&mdash; это продумать механики и&nbsp;сюжет так, чтобы они&nbsp;друг
    друга дополняли, обосновывали и&nbsp;продвигали сами себя. Playdead, думаю, отлично справилась с&nbsp;этой задачей.
    Вы&nbsp;играете за&nbsp;маленького мальчика, и&nbsp;такой минимализм управления подчеркивает, что вы&nbsp;играете за&nbsp;обычного
    ребенка.</p>
  <p>Принцип минимализма отлично прослеживается и&nbsp;в&nbsp;<nobr>каких-либо</nobr>
    подсказках для игрока, точнее в&nbsp;их&nbsp;отсутствии. Нет всплывающих обучающих окон, которые останавливают игру,
    отсутствует интерфейс. Это не&nbsp;ломает погружение, и&nbsp;&laquo;магический круг&raquo; (magic circle) игры.
    Также, это побуждает тебя исследовать игру через личный опыт.
  </p>
  <p>Когда я&nbsp;увидел ямку с&nbsp;водой, перепрыгнув ее, подумал: &laquo;А&nbsp;что если я&nbsp;упаду в&nbsp;воду?&raquo;
    Я&nbsp;предполагал, что умру, но&nbsp;мне было интересно что произойдет. Если&nbsp;бы в&nbsp;момент, когда я&nbsp;подходил&nbsp;бы
    к&nbsp;яме, написали&nbsp;бы
    <nobr>что-то</nobr>
    вроде: &laquo;Чтобы перепрыгнуть яму нажмите &#8593;&raquo;, &laquo;Опасайтесь воды&raquo;&nbsp;&mdash; я, скорее
    всего, послушался и&nbsp;просто пошел&nbsp;бы дальше. Такая концепция задает характер для геймплея, где смерть и&nbsp;понимания
    мира ведут к&nbsp;решению задачи.
  </p>
  <img src="assets/img/limbo/02.jpg" alt="">
  <p>Limbo&nbsp;&mdash; это
    <nobr>пазл-платформер</nobr>
    ! Арнт Йенсен (сооснователь и&nbsp;геймдизайнер Playdead) хотел, чтобы головоломки ощущались как естественная часть
    игрового мира: он&nbsp;пытался избежать ситуаций, в&nbsp;которых&nbsp;бы игрок надолго задумывался над очередной
    задачей. Карлсен (программист движка и&nbsp;ведущий дизайнер) хотел, чтобы головоломки не&nbsp;были слишком просты,
    дабы не&nbsp;разрушать удовлетворение от&nbsp;их&nbsp;решения. Он&nbsp;создавал их&nbsp;думая, что игрок &laquo;самый
    злейший враг&raquo;, а&nbsp;потом упрощал их, думая о&nbsp;игроке, как о&nbsp;&laquo;лучшем друге&raquo;. Дабы игрок
    просто не&nbsp;пробивался через головоломку, Джепп Карлсен использовал как можно меньше элементов. Таким образом
    игроку легче подумать, как работает головоломка, чем протыкивать все варианты. Важно заметить, что на&nbsp;протяжении
    разработки как и&nbsp;головоломки, так и&nbsp;другие элементы игры изменялись и&nbsp;упрощались. Как геймдезайнеру,
    вам нужно постоянно прислушиваться к&nbsp;игре, и&nbsp;всей команде. Именно походу разработки, не&nbsp;привязываясь
    к&nbsp;изначальным идеям, вы&nbsp;поймете, что на&nbsp;самом деле нужно вашей игре (конечно, рационально подходя к&nbsp;этому
    вопросу).
  </p>
  <p>Именно введения головоломок, как основу для геймплея, было инновационным решением. Оказалось, что это может быть
    интересным! В&nbsp;дальнейшем, в&nbsp;платформерах начали больше уделять вниманию головоломкам (это даже стало, так
    или иначе, одной из&nbsp;основных черт этого жанра). Но&nbsp;многие критики, поиграв в&nbsp;игру, отметили, что
    первая половина более насыщена сценарными событиями, в&nbsp;то&nbsp;время как вторая происходит в&nbsp;одиночестве,
    решая загадки (в&nbsp;ней меньше уделено объяснению истории и&nbsp;мира). Хотя, открытый финал им&nbsp;пришелся по&nbsp;вкусу.
    Позже Йенсен объяснил это тем, что был сильнее вовлечен в&nbsp;разработку первой половины, а&nbsp;разработка второй
    проходила под меньшим надзором.</p>
  <p>Стоит упоминать важную задачу при проектировании уровней. В&nbsp;начали игры нужно обучить игрока основным
    механикам. Чтобы усовершенствовать проблемные фрагменты, Playdead проводила тестирование с&nbsp;акцентом на&nbsp;необходимые
    действия, для решения задачи. Одним таким случаем было, когда тестировщики не&nbsp;понимали, что нужно вытянуть
    лодку на&nbsp;берег, дабы забраться на&nbsp;высокий уступ.</p>
  <img src="assets/img/limbo/03.jpg" alt="">
  <p>Поэтому, перед этим эпизодом разработчики добавили сцену, где игроку необходимо было подвинуть ящик. Тем самым они
    познакомили и&nbsp;научили игрока механике перетаскивания предметов.</p>
  <p>В&nbsp;завершении, расскажу очень интересный эпизод, который соединяет в&nbsp;себе и&nbsp;механику, и&nbsp;эстетику
    игры.</p>
  <blockquote>
    <p>В&nbsp;фиксированном уровне многоуровневой тетрады, эстетика&nbsp;&mdash; внешний вид игры, звуковое
      сопровождение, запахи, вкус и&nbsp;тактильные ощущения&nbsp;&mdash; все от&nbsp;звуковых эффектов, до&nbsp;моделей
      персонажей.</p>
    <p>В&nbsp;методе МДЭ, эстетика&nbsp;&mdash; это эмоциональный отклик игрока.</p>
    <p>В&nbsp;определении Трейси Ф. и&nbsp;Криса С. &mdash;&nbsp;история и&nbsp;сюжет игры, включая замысел.</p>
    <p>А&nbsp;в&nbsp;простой тетраде&nbsp;&mdash; то, как игра воспринимается пятью органами чувств. В&nbsp;данном
      контексте подразумевается смысл, ближе всего к&nbsp;определению Трейси, Криса и&nbsp;в&nbsp;методе МДЭ.</p>
  </blockquote>
  <p>Это эпизод с&nbsp;лодкой в&nbsp;начале игры. Именно тут эстетику подкрепляет механика. Я&nbsp;объясню.</p>
  <img src="assets/img/limbo/04.webp" alt="">
  <p>Когда я&nbsp;впервые увидел лодку, сел в&nbsp;нее и&nbsp;поплыл, то&nbsp;ощутил, что дороги назад нет. Это &laquo;точка
    невозврата&raquo;. Я&nbsp;понял&nbsp;&mdash; дальше меня ждут испытание и&nbsp;опасность, а&nbsp;позади остаётся
    просторный и&nbsp;уютный лес (Лес&nbsp;&mdash; это открытое пространство. Для меня это было ощущением свободы. Грубо
    говоря: в&nbsp;лесу я&nbsp;сам решал идти дальше, а&nbsp;переплыв на&nbsp;лодке реку мне нужно было идти дальше).
    Такое ощущение подкреплялось знанием, что я&nbsp;не&nbsp;смогу вернуться обратно, переплыв воду, ведь ГГ&nbsp;не&nbsp;умеет
    плавать. (Подобный прием используется в&nbsp;&laquo;Little Nightmares 2&raquo;, когда главные герои, убегая из&nbsp;леса,
    плывут на&nbsp;двери к&nbsp;городу)</p>
  <p>Этот эпизод также примечательный тем, что подобное ощущение и&nbsp;сам эпизод был ментально понятный для меня. То&nbsp;есть,
    схож с&nbsp;моим уже имеющимся опытом. Таким опытом было знание мифологии. Я&nbsp;сразу вспомнил паромщика в&nbsp;Ад,
    через реку Стикс. Стикс смертельно опасна, поэтому всякий кто ее&nbsp;пересекал, знал, что не&nbsp;вернется обратно
    (эта параллель становится еще занятнее, если учитывать теорию, где мальчик отправляется в&nbsp;католический
    Лимб).</p>
  <p>Если вы&nbsp;хотите, чтобы игрок с&nbsp;легкостью принял, усвоил механику (или элемент эстетики)&nbsp;&mdash; она
    должна быть ментально понятной, схожей с&nbsp;личным опытом игрока.</p>
  <h2>To Be Continued</h2>
  <p>В&nbsp;следующий раз мы&nbsp;поговорим о&nbsp;инновационных решениях в&nbsp;визуальной составляющей и&nbsp;истории
    Limbo.</p>

  <div class="source"><a href="https://dtf.ru/games/1049780">Источник</a></div>
  <app-back-btn></app-back-btn>
</div>
