<h1>Шрифт Times New Roman: история и причины популярности</h1>

<p>Популярность шрифтов, подобных Times New Roman, растет, и&nbsp;легко понять, почему. Классическое семейство шрифтов
  Times New Roman используется повсюду, от&nbsp;газет до&nbsp;популярного программного обеспечения, и&nbsp;теперь оно
  стало мгновенно узнаваемым.</p>

<img class="img-1" src="assets/img/tnr/01.jpg" alt="">

<p>Но&nbsp;то, что Times New Roman хорошо знакомо означает, что он&nbsp;стал
  <nobr>чем-то</nobr>
  вроде заурядного дизайнерского выбора. Вариант по&nbsp;умолчанию, но&nbsp;кому это нужно?
</p>
<p>Выбирая шрифт, который содержит определенные черты Times New Roman, но&nbsp;также имеет собственную индивидуальность,
  вы&nbsp;получаете лучшее из&nbsp;обоих миров: классический стиль с&nbsp;современными нотками.</p>
<p>В&nbsp;этой статье мы&nbsp;рассмотрим шрифты, похожие на&nbsp;Times New Roman. Но&nbsp;сначала давайте коротко узнаем
  историю самого Times New Roman.</p>
<h2>История Times New Roman</h2>
<p>Семейство шрифтов Times New Roman сегодня встречается повсюду, но&nbsp;с&nbsp;чего все это началось? Впервые шрифт
  появился в&nbsp;британской газете The Times 3 октября 1932 года.</p>
<p>The Times поручила годом ранее полиграфической компании Monotype изменить дизайн шрифта, а&nbsp;дизайнер Стэнли
  Морисон рекомендовал более солидный и&nbsp;современный дизайн для замены своего предшественника 19 века. Он&nbsp;использовал
  шрифты Perpetua, Baskerville и&nbsp;Plantin в&nbsp;качестве вдохновения, но&nbsp;внес существенные изменения, чтобы
  создать уникальный шрифт, который выдержит испытание временем.</p>

<img class="img-2" src="assets/img/tnr/02.jpg" alt="">

<p>The Times продолжали использовать Times New Roman еще 40 лет, прежде чем в&nbsp;1972 году придумали новый дизайн и&nbsp;с&nbsp;тех
  пор было еще несколько изменений. Все новые шрифты
  <nobr>по-прежнему</nobr>
  основаны на&nbsp;оригинальном дизайне Times New Roman Морисона.
</p>
<p>С&nbsp;1972 года семейство шрифтов Times New Roman начало жить собственной жизнью, получив известность далеко за&nbsp;пределами
  газетного мира. В&nbsp;первые дни Интернета
  <nobr>веб-сайты</nobr>
  могли использовать только несколько шрифтов, и&nbsp;Times New Roman был одним из&nbsp;них. Посмотрите на&nbsp;<nobr>
    веб-сайт
  </nobr>
  1997 года, и, скорее всего, он&nbsp;использует Times New Roman.
</p>
<p>Times New Roman также был шрифтом по&nbsp;умолчанию в&nbsp;Microsoft Word в&nbsp;течение многих лет, а&nbsp;Word был
  программным обеспечением по&nbsp;умолчанию для всех, кто создавал документы в&nbsp;те&nbsp;дни. Так Times New Roman
  стал стандартом для всего, от&nbsp;юридических документов до&nbsp;школьных сочинений. Это было повсюду.</p>
<p>В&nbsp;настоящее время, когда доступно так много различных вариантов, Times New Roman не&nbsp;так доминирует, как
  раньше. В&nbsp;наши дни дизайнеры часто уклоняются от&nbsp;него, считая, что это слишком примитивно, слишком скучно. И&nbsp;все&nbsp;же
  вы&nbsp;все равно увидите, что он&nbsp;появляется в&nbsp;документах и&nbsp;на&nbsp;<nobr>веб-сайтах</nobr>
  и, как вы&nbsp;узнаете позже в&nbsp;этой статье, есть несколько отличных альтернатив Times New Roman, которые можно
  взять, чтобы использовать его классическую привлекательность при создании дизайна со&nbsp;своей
  индивидуальностью.<br/>
  Характеристики Times New Roman
</p>
<p>Есть вопросы о&nbsp;семействе шрифтов Times New Roman? Вот несколько ответов на&nbsp;распространенные вопросы об&nbsp;этом
  популярном шрифте.</p>
<blockquote>
  <p class="question">Какой тип шрифта Times New Roman?</p>
  <p class="answer">Times New Roman&nbsp;&mdash; это шрифт с&nbsp;засечками, разработанный для хорошей читабельности в&nbsp;плотных
    газетных столбцах. Он&nbsp;довольно сжатый, имеет большую высоту по&nbsp;оси Х&nbsp;и&nbsp;короткие нижние выносные
    элементы. Все это позволяет легко читать даже при небольшом размере и&nbsp;в&nbsp;плотных столбцах текста.</p>
  <p class="question">Times New Roman&nbsp;&mdash; это шрифт с&nbsp;засечками?</p>
  <p class="answer">Да. Он&nbsp;классифицируется как переходный шрифт с&nbsp;засечками, что означает, что он&nbsp;находится между
    старым
    и&nbsp;современным.</p>
  <p class="question">Times New Roman&nbsp;&mdash; моноширинный шрифт?</p>
  <p class="answer">Нет. Times New Roman&nbsp;&mdash; это пропорциональный шрифт или шрифт переменной ширины. В&nbsp;моноширинных
    шрифтах
    все символы имеют одинаковую ширину&nbsp;&mdash; они были обычным явлением во&nbsp;времена пишущих машинок и&nbsp;на&nbsp;заре
    компьютерного кодирования. Как правило, шрифты переменной ширины, такие как Times New Roman, приятны для глаз.
    Вопрос мог возникнуть, потому что Times New Roman была создана компанией Monotype. Но&nbsp;название не&nbsp;имеет
    ничего общего с&nbsp;моноширинными шрифтами.</p>
</blockquote>
<button class="backBtn" backBtn><img src="assets/img/left-arrow.svg" alt=""></button>

