<app-loading *ngIf="!loaded"></app-loading>

<div [hidden]="!loaded" class="hodor">
  <div class="cards-container">
    <div class="card" (mouseenter)="onHover($event)" (mouseleave)="onLeave($event)" routerLink="/olds">
      <img class="bg olds" src="assets/img/olds/thumb.jpg" alt="">
      <div class="content olds">
        <p>В&nbsp;бой идут одни старики</p>
      </div>
    </div>

    <div class="card" (mouseenter)="onHover($event)" (mouseleave)="onLeave($event)" routerLink="/lembas">
      <img class="bg" src="assets/img/lembas/thumb.jpg" alt="">
      <div class="content lembas">
        <h2>Лембас</h2>
      </div>
    </div>

    <div class="card" (mouseenter)="onHover($event)" (mouseleave)="onLeave($event)" routerLink="/arts">
      <img class="bg" src="assets/img/arts/thumb.jpg" alt="">
      <div class="content arts">
        <h2>Стили рисования</h2>
      </div>
    </div>

    <div class="card" (mouseenter)="onHover($event)" (mouseleave)="onLeave($event)" routerLink="/limbo">
      <img class="bg" src="assets/img/limbo/thumb.jpg" alt="">
      <div class="content limbo">
        <h2>Limbo</h2>
      </div>
    </div>
  </div>
  <a href="https://github.com/gosvoh/typo3/commits/master" target="_blank">
    <div class="changelog">Changelog</div>
  </a>
</div>
