<div class="cards-container">
  <div class="card" (mouseenter)="onHover($event)" (mouseleave)="onLeave($event)" routerLink="/tnr-hist">
    <img class="bg" src="assets/img/tnr-thumb.jpg" alt="">
    <div class="content">
      <p>Times New Roman</p>
    </div>
  </div>

  <div class="card" (mouseenter)="onHover($event)" (mouseleave)="onLeave($event)" routerLink="link">
    <div class="bg"></div>
    <div class="content">
      <h2>Card</h2>
    </div>
  </div>

  <div class="card" (mouseenter)="onHover($event)" (mouseleave)="onLeave($event)" routerLink="link">
    <div class="bg"></div>
    <div class="content">
      <h2>Card</h2>
    </div>
  </div>

  <div class="card" (mouseenter)="onHover($event)" (mouseleave)="onLeave($event)" routerLink="link">
    <div class="bg"></div>
    <div class="content">
      <h2>Card</h2>
    </div>
  </div>
</div>
