@import 'src/scss/mixins';
@import "src/scss/fonts";
@import "src/scss/colors";

$transition-duration: 0.5s;

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
  height: 100%;

  @include md {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: $transition-duration ease;
    width: 100%;
    height: 100%;

    .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      transition: $transition-duration ease;

      &.hovered {
        filter: blur(5px);
        transition: $transition-duration ease;
      }

      &.olds {
        filter: grayscale(1);
      }
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      color: white;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 10%;
      background: linear-gradient(
          rgba(0, 0, 0, 0.8) 0%,
          rgba(255, 255, 255, 0) 100%);
      transition: $transition-duration ease;
      transform: translateY(-10%);
      opacity: 0;

      @include md {
        transform: translateY(0);
        opacity: 1;
      }

      &.hovered {
        transition: $transition-duration ease;
        transform: translateY(0);
        opacity: 1;
      }

      &.olds {
        font-family: "DS Broadbrush", serif;
      }

      &.lembas {
        font-family: "Tolkien Cyrillic", serif;
      }

      &.arts {
        font-family: "Stylo", sans-serif;
      }

      &.limbo {
        font-family: "Troika", sans-serif;
      }
    }
  }
}

