@import 'src/scss/mixins';

$transition-duration: 0.5s;

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
  height: 100%;

  @include md {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .card {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-image: url("https://source.unsplash.com/random/200x250");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
      transition: $transition-duration ease;

      &.hovered {
        filter: blur(5px);
        transition: $transition-duration ease;
      }
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%;
      color: white;
      font-weight: bold;
      font-family: "Times New Roman", serif;
      font-size: 2rem;
      padding: 10%;
      background: linear-gradient(
          rgba(0, 0, 0, 0.8) 0%,
          rgba(255, 255, 255, 0) 100%);
      transition: $transition-duration ease;
      transform: translateY(-100%);

      @include md {
        transform: translateY(0);
      }

      &.hovered {
        transition: $transition-duration ease;
        transform: translateY(0);
      }
    }
  }
}
