@import 'src/assets/scss/mixins';

$transition-duration: 0.5s;

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  @include sm {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .card {
    width: 200px;
    height: 250px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    @include sm {
      width: 100%;
    }

    .bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("https://source.unsplash.com/random/200x250");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
      transition: $transition-duration ease;

      &.hovered {
        filter: blur(5px);
        transition: $transition-duration ease;
      }
    }

    .content {
      height: 100%;
      color: white;
      text-align: center;
      padding: 10%;
      transition: $transition-duration ease;
      transform: translateY(-100%);

      &.hovered {
        background: linear-gradient(
            rgba(0, 0, 0, 0.75) 0%,
            rgba(0, 0, 0, 0.75) 15%,
            rgba(255, 255, 255, 0) 50%);
        transition: $transition-duration ease;
        transform: translateY(0);
      }
    }
  }
}
