<app-loading *ngIf="!loaded"></app-loading>

<div [hidden]="!loaded">
  <h1>Лембас. &laquo;Властелин Колец&raquo;.<br>Литературная кухня</h1>

  <section class="intro">
    <div class="right">
      <p>Известная всем поклонникам Властелина Колец пища, представляет из&nbsp;себя знаменитую еду путешественников, ибо
        не&nbsp;портится,
        прекрасно утоляет голод и&nbsp;долго хранится, если не&nbsp;разламывать и&nbsp;не&nbsp;вынимать из&nbsp;листьев,
        предназначенных для хранения. Рецепт надежно хранится эльфами. Так что все серьезно, ежели кто
        не&nbsp;уразумел.</p>
      <p>Я&nbsp;буду готовить лембас по&nbsp;одному из&nbsp;понравившихся мне рецептов. Лембас здесь, по&nbsp;своей сути,
        представляет из&nbsp;себя нечто среднее между галетами и&nbsp;обычным песочным печеньем. Готовится соответственно
        элементарно. С&nbsp;таким рецептом справится любой.</p>
    </div>

    <img class="left" src="assets/img/lembas/01.jpg" alt="">
  </section>

  <section class="ingredients">
    <h2>Итак, тебе понадобится:</h2>
    <ul class="left">
      <li>2,5 стакана муки</li>
      <li>1 ст.л. разрыхлителя</li>
      <li>щепотка соли</li>
      <li>100г хорошего сливочного масла.</li>
      <li>треть чашки белого или коричневого сахара</li>
      <li>1 ч.л. корицы</li>
      <li>1 ч.л. сухого имбиря (это добавка от&nbsp;меня. Первый раз добавил и&nbsp;понравилось)</li>
      <li>2\3 чашки сливок пожирнее</li>
      <li>1ч.л. меда</li>
      <li>1\2 ч.л. ванили или, как в&nbsp;моем случае&nbsp;&mdash; четверть содержимого стручка.</li>
    </ul>

    <img class="right" src="assets/img/lembas/02.jpg" alt="">
  </section>

  <section class="recipe">
    <h2>Как готовить:</h2>
    <ul class="left">
      <li>Духовку разогреть до&nbsp;200С.</li>
      <li>В&nbsp;большой миске смешать муку, разрыхлитель и&nbsp;соль. Добавить масло и&nbsp;все хорошо перемешать.
        Удобнее
        это делать в&nbsp;комбайне или миксере. Добавить сахар и&nbsp;корицу с&nbsp;имбирем.
      </li>
      <li>Снова перемешать и&nbsp;добавить сливки, мед и&nbsp;ваниль. Мешать все до&nbsp;момента, покуда тесто не&nbsp;станет
        густым и&nbsp;плотным. Если тесто сильно липнет к&nbsp;рукам, подпылите мукой.
      </li>
      <li>Раскатайте тесто на&nbsp;нужную толщину. У&nbsp;меня было около сантиметра. Нарежьте на&nbsp;квадраты, а&nbsp;каждый
        квадрат надсеките
        <nobr>крест-накрест</nobr>
        .
      </li>
      <li>Пеките 15&ndash;20&nbsp;минут (время зависит от&nbsp;духовки и&nbsp;толщины) до&nbsp;румяного, золотистого
        цвета.
      </li>
      <li>Лембас я&nbsp;завернул в&nbsp;виноградные листья.</li>
    </ul>
    <img class="right" src="assets/img/lembas/04.jpg" alt="">
  </section>

  <div class="rest-images">
    <img *ngFor="let path of images" src="{{path.path}}" alt="">
  </div>

  <section class="post-scriptum">
    <h2>Технические вопросы:</h2>
    <h3>Замены и&nbsp;модификации:</h3>
    <p>Особых замен здесь я&nbsp;не&nbsp;вижу, ибо продукты&nbsp;&mdash; более чем простые. Сливки можно заменить
      молоком.</p>
    <p>В&nbsp;качестве модификации я&nbsp;бы посоветовал изюм и&nbsp;курагу. Получается еще интереснее.</p>
    <p>Чтобы не&nbsp;повторять в&nbsp;который раз: я&nbsp;снимаю на&nbsp;старенький <mark>Nikon D80+</mark>, в&nbsp;этот раз были
      <mark>Tamron90</mark>
      и&nbsp;зум на&nbsp;<mark>17&ndash;70</mark> с&nbsp;искусственным светом,
      <nobr>т. к.
      </nobr>
      снимаю в&nbsp;основном вечером и&nbsp;естественного света нет. На&nbsp;этот вопрос в&nbsp;комментах я&nbsp;не&nbsp;отвечаю).
    </p>
    <blockquote>Выводы: Итогом всего этого действа получаются отличные галеты. Они в&nbsp;меру сладкие, без приторной, избыточной
      сладости. Хорошо они подойдут к&nbsp;чаю или кружке молока (это для любителей молока). Плюс такое хорошо брать с&nbsp;собой
      на, скажем, обычную или вело прогулку, прибавив к&nbsp;этому флягу чая или сока. В&nbsp;Лембасе есть все, чтобы
      отлично утолить голод. Они не&nbsp;крошатся, как простое песочное печенье и&nbsp;не&nbsp;пересыхают. Плюс ко&nbsp;всему
      они приятно пахнут топленым молоком, ванилью и&nbsp;корицей. В&nbsp;общем мне понравилось. Зачетная штука.
      Рекомендую.</blockquote>
  </section>
  <img class="meme" src="assets/img/lembas/09.jpg" alt="">

  <app-back-btn></app-back-btn>
</div>
