@import "scss/colors";

:root {
  font-size: 22px;
  line-height: 150%;

  @include sm {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
}

html, body, app-root {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

body {
  background-color: $grey-900;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

app-root > *:not(router-outlet) {
  width: 60%;
  margin: 10% 5%;

  @include lg {
    width: 75%;
  }

  @include md {
    width: 85%;
  }
}

h1, h2 {
  text-align: center;
}

.loading {
  color: white;
  font-size: 3rem;
  align-self: center;
  text-align: center;
}

[hidden] {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.source {
  text-align: center;

  a {
    text-decoration: none;
    color: white;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

blockquote {
  background-color: $grey-800;
}
